// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

p.meta .categories a.category,
p.meta .categories a.category:hover{
  color: #AAA;
}

html ul{
  list-style: disc inside;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}

html ol{
  list-style: decimal inside;
}